:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

::ng-deep {
  .mat-button.mat-accent,
  .mat-icon-button.mat-accent,
  .mat-stroked-button.mat-accent {
    color: black;
  }
}

.container {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
}

.buttons {
  cursor: pointer;
  display: flex;
  gap: 10px;

  &-item {
  }
}
