<div class="container">
  <h1 routerLink="" class="title">TODO LIST</h1>
  <div class="buttons">
    <button class="buttons-item" [routerLink]="settingsPath" mat-icon-button color="accent">
      <mat-icon>settings</mat-icon>
    </button>
    <button class="buttons-item" (click)="deleteSelectedTodos()" mat-icon-button color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button class="buttons-item" (click)="openAddTask()" mat-icon-button color="warn">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
</div>
