:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

::ng-deep {
  .mat-list-option,
  .mat-list-option {
    font-family: EuropeExt;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 406px;
}

.no-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;

  &-template {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  &-img {
    width: 50%;
  }
}
